<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/normal.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	</head>
	<body>
		<div id="background">
			<div id="titleCard">
				<h1 id="title">Steve Snow</h1>
				<h4 id="subTitle">web developer, scientist</h4 id="subTitle">
			</div>
		</div>
		<div class="floatContainer">
			<div class="centerStage">
				<a href="bio">
					<div class="floatArticle hvr-shutter-out-horizontal ">
						<i class="fa fa-flask fa-5x iconButton"></i>
						<h2>Biography</h2>
						<h5>Information about Steve</h5>
					</div>
				</a>
				<a href="projects">
					<div class="floatArticle hvr-shutter-out-horizontal">
						<i class="fa fa-code fa-5x iconButton"></i>
						<h2>Projects</h2>
						<h5>Projects Steve has worked on</h5>
					</div></a>
					<a href="links"><div class="floatArticle hvr-shutter-out-horizontal">
						<i class="fa fa-exchange fa-5x iconButton"></i>
						<h2>Links</h2>
						<h5>Useful information for developers</h5>
					</div></a>
				</div>
			</div>
			
		</body>
	</html>