<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<title>Useful Links</title>
		<link rel="stylesheet" type="text/css" href="css/normal.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/auxstyles.css"/>
		<link rel="stylesheet" type="text/css" href="css/links.css"/>
	</head>
	<body>
		<div id="background">
			<div id="backStage">
				<a id="backLink" href="index.html"><i id="backIcon" class="fa fa-arrow-circle-left fa-5x"></i></a>
				<h1 id="backTitle">home</h1>
			</div>
			<div id="links">
				<nav>
					<ul>
						<a href="bio"><li>Bio</li></a>
						<a href="projects"><li>Projects</li></a>
						<li class="currentPage">Links</li>
					</ul>
				</nav>
			</div>
			<div id="bannerLine">
			</div>
		</div>
		<div id="mainStage">
			<div class="floatArticle">
				<i class="fa fa-css3 fa-2x headlineIcon">&nbsp; CSS</i>
				<ul class="fa-ul">
					
					<li><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"><i class="fa-li fa fa-square-o"></i>&nbsp; Font Awesome</li></a>
					<p></p>
					<li><a href="http://ianlunn.github.io/Hover/" target="_blank"><i class="fa-li fa fa-square-o"></i>&nbsp; Hover.css</li></a>
					<p></p>
                    <li><a href="http://css-tricks.com" target="_blank"><i class="fa-li fa fa-square-o"></i>&nbsp; CSS Tricks</li></a>
					<p></p>
				</ul>
			</div>
			<div class="floatArticle">
				<i class="fa fa-html5 fa-2x headlineIcon">&nbsp; HTML</i>
			</div>
			<div class="floatArticle">
				<i class="fa fa-bookmark-o fa-2x headlineIcon">&nbsp; Blogs</i>
			</div>
			<div class="floatArticle">
				<i class="fa fa-code fa-2x headlineIcon">&nbsp; JS</i>
			</div>
		</div>
	</body>
</html>