<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<title>Steve's Projects</title>
		<link rel="stylesheet" type="text/css" href="css/normal.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/auxstyles.css"/>
		<link rel="stylesheet" type="text/css" href="css/projects.css"/>
	</head>
	<body>
		<div id="background">
			<div id="backStage">
			<a id="backLink" href="home"><i id="backIcon" class="fa fa-arrow-circle-left fa-5x"></i></a>
			<h1 id="backTitle">home</h1>	
		</div>
				<div id="links">
				<nav>
					<ul>
						<a href="bio"><li>Bio</li></a>
						<li class="currentPage">Projects</li>
						<a href="links"><li >Links</li></a>
					</ul>
				</nav>
			</div>
<div id="bannerLine">
			</div>
		</div>
<div id="mainStage">
			<h1>Coming Soon!</h1>
		</div>
	</body>
</html>